html {  background-color: #263238;
}


#paragraphe
{
    color:#000000;
    background-color:#90a4ae;
    border:3px solid #000000;
    min-height:10em;
    height:10em;
}

h1 {
    font-weight: bold;
}
#couleur_jaune{
    color: yellow;
}