html {
    background-color: #9cb2c4;
}


#paragraphe {
    color:#000000;
    background-color:#ffffff;
    border:3px solid #000000;
    min-height:10em;
    height:10em;
}

h1 {
    font-weight: bold;
}


h2:hover{
    background-color: blanchedalmond;
}


li{
    padding-right : 10%;
    display: none;
}
h2:hover + ol>li {
    display: block;
}

footer {
    position: absolute;
    bottom: 0;

}

.adresse {
    transition: all 2s ease-out;
}
.adresse:hover, .address:focus {
    background-color: aquamarine;
}

.contact {
    transition: all 1s ease-out
}

.contact:hover, .contact:focus {
    background-color: lightgreen;
}
