html{
    background-color: red;
}

body{
    background-color: aqua;
    width: 50%;
    border: 5px solid black;
}

h1{
    font-family: "Comic Sans MS";
    text-align: center;
    color: #00539F;
    text-shadow: 3px 3px 1px black;
}

p{
    background-color: white;
    width: 50%;
    border: 10px solid greenyellow;
}

.italique{
    font-style: italic;
    color: red;
}

#couleur_jaune{
    color: yellow;
}
